.Modal{

    position: fixed;
    left: 15%;
    width: 70%;
    top: 30%;
    background-color: antiquewhite;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px black;

}
@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}

